# Filename exclusions
**/AutotaskSettings.csv
**/AuvikSettings.csv
**/CustomerSettings.csv
**/HuntressSettings.csv
**/M365Settings.csv
**/PowerDmarcSettings.csv
**/ProofpointSettings.csv
**/RocketCyberSettings.csv
**/SentinelOneSettings.csv
**/VipreSettings.csv
